{% extends 'base.html' %}
{% block content %}
<div class="conatiner p-3 align-items-center">
  <div class="row justify-content-between">
    <div class="col-4">
      <form>
        {% csrf_token %}
        <div class="mb-3">
          <label for="film" class="form-label">Add Film</label>
          <input required name="filmname" type="text" class="form-control" id="Film" aria-describedby="emailHelp" />
          <p class="text-muted text-sm"><small> Add Your Favourite Films.</small></p>
        </div>

        <button hx-post='{% url 'add-film' %}' hx-target='#film-list' type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div id="film-list" class="col-4">
      {% include "partials/film-list.html" %}
    </div>
  </div>

</div>
{% endblock content %}
