<style>
  .nav-link:hover,
  .nav-link:focus {
    text-decoration: underline;
    color: black;
    font: bold;
  }
</style>

<nav
  class="navbar navbar-expand-lg navbar-light bg-light m-4 shadow-lg rounded"
>
  <a class="navbar-brand fw-bold" href="{% url 'index' %}">Movie List App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'film-list' %}">Add Film</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
